#searchBody{
    display: flex;
    justify-content: center;
}

#searchTracks{
    width: 45%;
}

#searchTracksReturn{
    display: flex;
    justify-content: space-between;
}

#createPlaylist{
    width: 45%;
}